<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="./css/main.css">
        <title>Help</title>       
    </head>

    <body>
        {{>header}}
        <h1>ERROR</h1>
        <h3> current error is {{msg}} </h3>
       {{>footer}}
    </body>
</html>
