<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="./css/main.css">
        <title>About</title>       
    </head>

    <body>
        {{>header}}
        <div class="raper">
            <h1>ABOUT</h1>
            <div class="container">
                <img src="https://cdn2.vectorstock.com/i/1000x1000/77/16/weather-background-icon-vector-87716.jpg" style="width:30%;">

                <p style="font-size:2rem;font-weight:700">
                    This website gives you the data about the current weather and temperature condition in any area you 
                    want.<br>
                    Don't believe try it by your self
                    <br>
                    This website uses Map box api to convert location into cordinates and then uses Dark sky.net api 
                    for for providing you exact weather condition.
                </p>
            </div>
        </div>
       {{>footer}}
    </body>
</html>
