<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>weather</title> 
    <style>

    </style>      
</head>

<body>
    {{>header}}
    <div class="raper">
        <h1>WEATHER</h1>
            <div class="container">
                <h3>{{title}}</h3>
                <form>
                    <input placeholder="Location">
                    <button id='search'>Search</button>
                </form>
                <div class="result">
                    <p id="msg1"></p>
                    <p id="msg2"></p>
                </div>
            </div>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>
