<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="./css/main.css">
        <title>About</title>       
    </head>

    <body>
        {{>header}}
        <div class="raper">
            <h1>WEATHER</h1>
            <h4>current location longitude is {{longitude}} </h4>
            <h4>current location latitude is {{latitude}} </h4>
        </div>
        

        {{>footer}}
    </body>
</html>
