
    <nav class="navbar navbar-invert navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#navbar-links" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.php">
                    <img width="40" alt="Brand"src="/img/internet.png">
                </a>
            </div>
        
            <div class="collapse navbar-collapse" id="navbar-links">
                <ul id="links" class="nav navbar-nav navbar-right">
                    <li> <a href="/">WEATHER</a></li>
                    <li> <a href="/about">ABOUT</a></li>
                    <li> <a href="/help">HELP</a></li>
                    <li> <a href="/weather">WEATHER TEST</a></li>
                    <li> <a  href="/404">ERROR</a></li>
                </ul>
            </div>
        </div>
    </nav>
     <br>
     <br>